:root {
    --color-primary: #4de1cd;
    --color-secondary: #e08d4c;
    --color-background: #1f1f1f;
    --color-dropdown-divider: #1f1f1f;
    --color-background-navbar: #141212;
    --color-foreground: #f1f1f1;
    --color-danger: #e04c4c;
    --color-success: #4ce0a7; 
    --color-warning: #e0d64c;
    --color-info: #4c6ee0;    
    --color-muted: #5a5a5a;
}

// :root {
//     --color-primary: #e08d4c;
//     --color-secondary: #158594;
//     --color-background: #1f1f1f;
//     --color-background-navbar: #141212;
//     --color-foreground: #f1f1f1;
//     --color-danger: #e04c4c;
//     --color-success: #4ce0a7; 
//     --color-warning: #e0d64c;
//     --color-info: #4c6ee0;    
//     --color-muted: #5a5a5a;
// }
