:root {
    
    --color-primary: #f2d23f;
    --color-secondary: #00ffaa;
    --color-tertiary: #ee4266;
    --color-background: #1c1c1c;
    --color-background-secondary: #404040;
    --color-divider: #1f271b;
    --color-foreground: #f1f1f1;
    --color-danger: #fb3640;
    --color-success: #00ffaa; 
    --color-warning: #f6511d;
    --color-info: #00a6ed;    
    --color-muted: #b3b5bb;
}

// :root {
//     --color-primary: #00ffaa;
//     --color-secondary: #ffd23f;
//     --color-background: #0f0326;
//     --color-dropdown-divider: #1f271b;
//     --color-background-secondary: #1c1c1c;
//     --color-foreground: #f1f1f1;
//     --color-danger: #fb3640;
//     --color-success: #00ffaa; 
//     --color-warning: #f6511d;
//     --color-info: #00a6ed;    
//     --color-muted: #b3b5bb;
// }


// :root {
//     --color-primary: #4de1cd;
//     --color-secondary: #e08d4c;
//     --color-background: #1f1f1f;
//     --color-dropdown-divider: #1f1f1f;
//     --color-background-secondary: #141212;
//     --color-foreground: #f1f1f1;
//     --color-danger: #e04c4c;
//     --color-success: #4ce0a7; 
//     --color-warning: #e0d64c;
//     --color-info: #4c6ee0;    
//     --color-muted: #5a5a5a;
// }

// :root {
//     --color-primary: #e08d4c;
//     --color-secondary: #158594;
//     --color-background: #1f1f1f;
//     --color-background-secondary: #141212;
//     --color-foreground: #f1f1f1;
//     --color-danger: #e04c4c;
//     --color-success: #4ce0a7; 
//     --color-warning: #e0d64c;
//     --color-info: #4c6ee0;    
//     --color-muted: #5a5a5a;
// }
